---
import Layout from '../layouts/BlogPost.astro';
import GlowLineSeparator from '@/components/ui/separator/GlowLineSeparator.astro';
const pageTitle = 'About Me';
const pageDescription = 'Learn more about my background and approach to software engineering.';
---

<Layout title={pageTitle} description={pageDescription} pubDate={new Date()} showHeader={false}>
  <p>
    Peace peace! I'm a Robotics and Mechatronics student that loves do hands on stuff and 3D modelling.
  </p>
  <p>
    I work with software like Autodesk Inventor and Solidworks. I care deeply about part tolerance, making the design as material effecient as possible,
    improving designs based on prototypes, and ease of assembly and repair. My approach: measure accurately, brainstorm quickly, come up with quality prototypes.
  </p>
  <p>
    Recent highlights include making parts for a concept water-spraying drone that is waterproof to IP67, improving past propeller guard designs,
    and assisting with research to source the right parts for prototypes.
  </p>
  <p>
    Outside of feature work, I enjoy helping my colleagues, documentation, and brainstorming with others that make better ideas faster.
    Always learning—and always happy to collaborate on meaningful problems.
  </p>

  <GlowLineSeparator />

</Layout>
